/* Creando las variables de CSS*/
:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --font-sanz: 'Dm Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
}

/* Reseteando estilos por defecto*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Modificando Fuente y su tamaño*/
html{
    font-family: var(--font-sanz), sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Dando estilos al Header*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 333px;
    position: relative;
    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
}

.header__img--container{
    margin-top: 40px;
}

.header__img{
    width: 150px;
    height: 24px;
    align-self: center;
}

.header__title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
}

.header__title h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title p{
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-style: normal;
    color: var(--soft-orange);
}

.header__button{
    display: block;
    width: 229px;
    height: 48px;
    margin-top: 35px;
    padding: 15px;
    position: absolute;
    top: 270px;
    left: calc(50% - 114.8px);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    background-color: var(--off-white);
    font-size: 1.4rem;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--warm-black);
    font-weight: bold;
}

.header__button span{
    display: inline-block;
    background-image: url('../assets/icons/vector.svg');
    width: 13px;
    height: 8px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

main{
    width: 100%;
    height: auto;
}

.main__exchange__container{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    padding-top: 6rem;
    padding-bottom: 4rem;
    text-align: center;
}

.background__imageContainer{
    background-image: url("../assets/icons/bitcoin.svg");
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
}

.main__exchange__container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

.main__exchange__container--title h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.main__exchange__container--title p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
    margin-top: 2.4rem;
}

.main__tables__container{
    display: flex;
    align-items: baseline;
    overflow-x: scroll; /*Trabajmos con el Overflow que genera horizontalmente*/
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding: 1rem 0;
}

.currency__container{
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    scroll-snap-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.currency__title{
    color: var(--bitcoin-orange);
    font-weight: 700;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.34rem;
    margin-top: 4.8rem;
    margin-bottom: 1.2rem;
}

.currency__table__container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    font-family: var(--font-inter), sans-serif;
}

.currency__table__container table{
    width: 100%;
    height: 100%;
}

.currency__table__container td{
    width: 50%;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 19.36px;
    background-color: var(--just-white);
    padding: 1rem 1.2rem;
}

.coin{
    color: #B5B0AC;
}

.table__right{
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 16.94px;
    color: #757575;
}

.trending__down{
    display: inline-block;
    background-image: url("../assets/icons/trending-down.svg");
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1.8rem;
}

.trending__up{
    display: inline-block;
    background-image: url("../assets/icons/trending-up.svg");
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1.8rem;
}

.border__top--left{
    border-radius: 8px 0 0 0;
}

.border__top--right{
    border-radius: 0 8px 0 0;
}

.border__bottom--right{
    border-radius: 0 0 8px 0;
}

.border__bottom--left{
    border-radius: 0 0 0 8px;
}

.currency__date{
    background-color: var(--soft-orange);
    width: 190px;
    border-radius: 8px;
    margin: 0 auto;
    padding: 8px;
    font-size: 1.2rem;
    line-height: 19.36px;
    margin-top: 15px;
    font-family: var(--font-inter), sans-serif;
}


.commissions__container{
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    height: 360px;
    margin-top: 4rem;
    scroll-snap-align: center;
    padding-right: 20px;
}

.commissions__title{
    color: var(--secondary-blue);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 23.44px;
    margin-bottom: 1.2rem;
}

.commissions__table__container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    font-family: var(--font-inter), sans-serif;
}

.commissions__table__container table{
    width: 100%;
    height: 100%;
}

.commissions__table__container td{
    width: 50%;
    background-color: var(--just-white);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 19.36px;;
    font-style: normal;
}



.commissions__date p{

    background-color: var(--soft-blue);
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 8px;
    width: 190px;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 700px;
    font-style: normal;
    line-height: 14.52px;
    font-family: var(--font-inter), sans-serif;
    font-size: 1.2rem;
    line-height: 19.36px;
    margin-top: 15px;
}

/*------------------- Product ------------------*/

.main__product--container{
    background-color: var(--warm-black);
    width: 100%;
    min-width: 320px;
    height: auto;
    position: relative;
    padding: 64px 16px 30px 16px;
}

.main__product--logo{
    display: inline-block;
    background-image: url('../assets/icons/papa.svg');
    width: 40px;
    height: 24px;
    background-size: cover;
    position: absolute;
    top: -10px;
    left: calc(50% - 23px);
}

.main__product--hero{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    text-align:center;
}

.main__product--title{
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main__title--paragraph{
    font-weight: 500;
    font-style: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 2.4rem;
    color: #808080;
    margin-bottom: 3.2rem;
}

.main__product--cards{
    width: 100%;
    margin: 0 auto;
}

.main__product--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    background-color: var(--warm-black1);
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 16px 16px 22px 16px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product__card--title{
    font-weight: 700;
    font-style: none;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--just-white);
    margin-top: 12px;
    margin-bottom: 10px;
}

.product__card--description{
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 18px;
    color: #808080;
}

.product__card--clock, .product__card--eye, .product__card--dollar, .product__card--check-circle{
    display: inline-block;
    width:24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
}

.product__card--clock{
    background-image: url("../assets/icons/clock.svg");
}

.product__card--eye{
    background-image: url("../assets/icons/eye.svg");
}

.product__card--dollar{
    background-image: url("../assets/icons/dollar-sign.svg");
}

.product__card--check-circle{
    background-image: url("../assets/icons/check-circle.svg");
}

.main__image--container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("../assets/images/bitcoinbaby.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.main__image--container h2{
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
    padding-top: 6.5rem;
}

/*-------------------- Planes --------------------*/

.main__plans--container{
    width: 100%;
    min-width: 320px;
    background-color: var(--off-white);
    padding-bottom: 6.4rem;
}

.plans--primary-text{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.plans--title{
    font-weight: bold;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
    padding-top: 6rem;
}

.plans--description{
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
    padding-top: 2.4rem;
}

.plans__card--container{
    width: 70%;
    min-width: 190px;
    max-width: 230px;
    height: auto;
    margin: 0 auto;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 64px;
}

.plans--annual{
    position: relative;
}

.plans--recommended{
    background-color: var(--bitcoin-orange);
    width: 101px;
    height: 31px;
    padding: 8px;
    border-radius: 8px;
    position: absolute;
    top: -15px;
    left: calc(50% - 101px/2);
    color: var(--just-white);
    font-family: var(--font-inter), "sans-serif";
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 14.52px;
}

.card--content{
    padding: 0 16px;
    height: 270px;
    position: relative;
}

.card--content h3{
    font-weight: 700;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #000000;
    padding-top: 3rem;
}

.card--content .card--price{
    font-weight: 700;
    font-size: 5.2rem;
    position: relative;
}

.card--content .plans--small{
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    top: 12px;
    left: calc(31% - 8px);
}

.card--content .card--compared{
    font-weight: 500;
    font-family: var(--font-inter), "sans-serif";
    font-size: 1.2rem;
    line-height: 14.53px;
    color: #757575;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.card--content button{
    font-family: var(--font-sanz), "sans-serif";
    width: 150px;
    height: 48px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 18.23px;
    text-align: center;
    font-weight: 700;
    vertical-align: middle;
    margin-bottom: 24px;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: calc(16% - 48px);
    left: calc(50% - 150px/2);
}

.card--content button > span{
    background-image: url("../assets/icons/arrow-right.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    margin-left: .8rem;
}

/*------------- Scroll Horizontal -------------------*/
.plans__container--slides{
    display: flex;
    padding: 1rem 0;
    overflow-x: scroll; /*Trabajmos con el Overflow que genera horizontalmente*/
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans__card--container{
    scroll-snap-align: center;
    margin: 50px 10px 0px;
}

/*--------------------- Footer --------------------------*/

.footer{
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 65px;
}

.footer ul{
    list-style: none;
}

.footer ul li{
    padding: 4px 0;
}

.footer ul li a{
    text-decoration: none;
    color: var(--just-white);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 18px;
    
}


.logo--copy{
    font-family: var(--font-inter), "sans-serif";
    font-weight: 500;
    font-size: 8px;
    line-height: 18px;
    text-align:center;
    color: var(--soft-orange);
}
